# Project 1: Public High Schools
## Cleaning and Exploring Data with Pandas
## Due Date: 
## Collaboration Policy

Data science is a collaborative activity. While you may talk with others about
the project, we ask that you **write your solutions individually**. If you do
discuss the assignments with others please **include their names** at the top
of your notebook.

**Collaborators**: *list collaborators here*


## This Assignment

https://www.cde.ca.gov/ds/si/ds/fspubschls.asp

As we clean and explore these data, you will gain practice with:
* Reading simple csv files
* Working with data at different levels of granularity
* Identifying the type of data collected, missing values, anomalies, etc.
* Applying probability sampling techniques
* Exploring characteristics and distributions of individual variables

## Score Breakdown
Question | Points
--- | ---
1a | 1
Total | 1

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

---
## 1: Loading Public Schools Data

We have data, but we don't have any specific questions about the data yet, so let's focus on understanding the structure of the data. This involves answering questions such as:

* Is the data in a standard format or encoding?
* Is the data organized in records?
* What are the fields in each record?

### Question 1a: Reading in the Files

Based on the above information, let's attempt to load `pubschls.csv`, `frpm1819.csv`, and `sat18.csv` into pandas data frames with the following names: `sch`, `frpm`, and `sat` respectively.

In [154]:
sch = pd.read_csv('Data/pubschls.txt', sep="\t")
sch = sch.loc[sch['StatusType']=='Active']
sch = sch.replace('No Data', np.NaN)
frpm = pd.read_excel('Data/frpm1819.xlsx', 'FRPM School-Level Data ', header=1)
sat = pd.read_excel('Data/sat18.xls')

Now that you've read in the files, let's try some `pd.DataFrame` methods ([docs](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.html)).
Use the `DataFrame.head` method to show the top few lines of the `sch`, `frpm`, and `sat` dataframes. Use `Dataframe.describe` to learn about the numeric columns.

In [141]:
print(sch.head())
print(frpm.head())
print(sat.head())

         CDSCode NCESDist NCESSchool StatusType   County  \
0  1100170000000  0691051    No Data     Active  Alameda
2  1100170112607  0691051      10947     Active  Alameda
4  1100170123968  0691051      12844     Active  Alameda
5  1100170124172  0691051      12901     Active  Alameda
6  1100170125567  0691051      13008     Active  Alameda

                             District  \
0  Alameda County Office of Education
2  Alameda County Office of Education
4  Alameda County Office of Education
5  Alameda County Office of Education
6  Alameda County Office of Education

                                    School                        Street  \
0                                  No Data        313 West Winton Avenue
2   Envision Academy for Arts & Technology           1515 Webster Street
4  Community School for Creative Education  2111 International Boulevard
5                          Yu Ming Charter          1086 Alcatraz Avenue
6                 Urban Montessori Charter             5328 Brann Street

                  StreetAbr     City  ... AdmFName1 AdmLName1  \
0      313 West Winton Ave.  Hayward  ...   L Karen    Monroe
2          1515 Webster St.  Oakland  ...       Eve    Gordon
4  2111 International Blvd.  Oakland  ...   Monique   Brinson
5        1086 Alcatraz Ave.  Oakland  ...       Sue      Park
6            5328 Brann St.  Oakland  ...   Krishna    Feeney

                                          AdmEmail1 AdmFName2 AdmLName2  \
0                                 lkmonroe@acoe.org   No Data   No Data
2                           eve@envisionacademy.org   No Data   No Data
4  moniqueb@communityschoolforcreativeeducation.org   No Data   No Data
5                            spark@yumingschool.org   No Data   No Data
6                      krishnaf@urbanmontessori.org   No Data   No Data

  AdmEmail2 AdmFName3 AdmLName3 AdmEmail3  LastUpDate
0   No Data   No Data   No Data   No Data  05/31/2019
2   No Data   No Data   No Data   No Data  07/01/2019
4   No Data   No Data   No Data   No Data  02/13/2019
5   No Data   No Data   No Data   No Data  02/13/2019
6   No Data   No Data   No Data   No Data  06/13/2019

[5 rows x 51 columns]
  Academic Year  County Code  District Code  School Code County Name  \
0     2018-2019            1          10017       112607     Alameda
1     2018-2019            1          10017       123968     Alameda
2     2018-2019            1          10017       124172     Alameda
3     2018-2019            1          10017       125567     Alameda
4     2018-2019            1          10017       130401     Alameda

                        District Name  \
0  Alameda County Office of Education
1  Alameda County Office of Education
2  Alameda County Office of Education
3  Alameda County Office of Education
4  Alameda County Office of Education

                               School Name                     District Type  \
0   Envision Academy for Arts & Technology  County Office of Education (COE)
1  Community School for Creative Education  County Office of Education (COE)
2                          Yu Ming Charter  County Office of Education (COE)
3                 Urban Montessori Charter  County Office of Education (COE)
4       Alameda County Juvenile Hall/Court  County Office of Education (COE)

                   School Type Educational \nOption Type  ...  \
0        High Schools (Public)               Traditional  ...
1  Elementary Schools (Public)               Traditional  ...
2  Elementary Schools (Public)               Traditional  ...
3  Elementary Schools (Public)               Traditional  ...
4       Juvenile Court Schools     Juvenile Court School  ...

  Free Meal \nCount \n(K-12) Percent (%) \nEligible Free \n(K-12)  \
0                        262                             0.680519
1                        118                             0.489627
2                         58                             0.130337
3                        113                             0.261574
4                         53                             1.000000

  FRPM Count \n(K-12) Percent (%) \nEligible FRPM \n(K-12)  \
0                 306                             0.794805
1                 120                             0.497925
2                  64                             0.143820
3                 131                             0.303241
4                  53                             1.000000

  Enrollment \n(Ages 5-17) Free Meal \nCount \n(Ages 5-17)  \
0                      370                             249
1                      224                             113
2                      445                              58
3                      418                             111
4                       50                              50

  Percent (%) \nEligible Free \n(Ages 5-17)  FRPM Count \n(Ages 5-17)  \
0                                  0.672973                       291
1                                  0.504464                       115
2                                  0.130337                        64
3                                  0.265550                       129
4                                  1.000000                        50

   Percent (%) \nEligible FRPM \n(Ages 5-17)  \
0                                   0.786486
1                                   0.513393
2                                   0.143820
3                                   0.308612
4                                   1.000000

   CALPADS Fall 1 \nCertification Status
0                                      Y
1                                      Y
2                                      Y
3                                      Y
4                                      Y

[5 rows x 28 columns]
             cds  Ccode  CDcode   Scode rtype  \
0              0      0       0       0     X
1  1000000000000      1  100000       0     C
2  1100170000000      1  110017       0     D
3  1100170112607      1  110017  112607     S
4  1100170136101      1  110017  136101     S

                                    sname                               dname  \
0                                     NaN                                 NaN
1                                     NaN                                 NaN
2                                     NaN  Alameda County Office of Education
3  Envision Academy for Arts & Technology  Alameda County Office of Education
4    Connecting Waters Charter - East Bay  Alameda County Office of Education

     cname  enroll12  NumTstTakr  ... NumPreElaBenchmark TotNumElaBenchmark  \
0      NaN    489221      236492  ...                442             167998
1  Alameda     17476       10058  ...                 44               7738
2  Alameda       249          90  ...                  0                 46
3  Alameda        93          88  ...                  0                 44
4  Alameda         0           2  ...                  *                  *

  PctElaBenchmark NumCurrMathBenchmark NumPreMathBenchmark  \
0           71.04               119412                 423
1           76.93                 6160                  44
2           51.11                   20                   0
3           50.00                   19                   0
4               *                    *                   *

  TotNumMathBenchmark PctMathBenchmark TotNumBothBenchmark PctBothBenchmark  \
0              119835            50.67              114161            48.27
1                6204            61.68                5981            59.47
2                  20            22.22                  17            18.89
3                  19            21.59                  16            18.18
4                   *                *                   *                *

      year
0  2017-18
1  2017-18
2  2017-18
3  2017-18
4  2017-18

[5 rows x 21 columns]

The `DataFrame.describe` method can also be handy for computing summaries of various statistics of our dataframes. Try it out with each of our 3 dataframes.

In [142]:
print(sch.describe())
print(frpm.describe())
print(sat.describe())

            CDSCode           DOC
count  1.176000e+04  11760.000000
mean   2.942944e+13     51.681973
std    1.428559e+13     12.162255
min    1.100170e+12      0.000000
25%    1.964733e+13     52.000000
50%    3.066670e+13     54.000000
75%    3.868479e+13     54.000000
max    5.872770e+13     98.000000
        County Code  District Code   School Code  Enrollment \n(K-12)  \
count  10520.000000   10520.000000  1.052000e+04         10520.000000
mean      28.657414   65527.260646  4.062103e+06           588.082510
std       14.079816   11409.716461  2.609779e+06           538.987168
min        1.000000   10017.000000  0.000000e+00             1.000000
25%       19.000000   64733.000000  1.380220e+05           267.750000
50%       30.000000   67082.000000  6.013932e+06           496.000000
75%       37.000000   69625.000000  6.049698e+06           722.000000
max       58.000000   77222.000000  9.010745e+06          6324.000000

       Free Meal \nCount \n(K-12)  Percent (%) \nEligible Free \n(K-12)  \
count                10520.000000                          10520.000000
mean                   307.637833                              0.546439
std                    312.567994                              0.268189
min                      0.000000                              0.000000
25%                     83.750000                              0.322894
50%                    232.000000                              0.585591
75%                    433.000000                              0.776746
max                   3863.000000                              1.000000

       FRPM Count \n(K-12)  Percent (%) \nEligible FRPM \n(K-12)  \
count         10520.000000                          10520.000000
mean            349.346863                              0.611494
std             354.029435                              0.282376
min               0.000000                              0.000000
25%              96.000000                              0.382577
50%             270.000000                              0.677814
75%             485.000000                              0.859060
max            4407.000000                              1.000000

       Enrollment \n(Ages 5-17)  Free Meal \nCount \n(Ages 5-17)  \
count              10520.000000                     10520.000000
mean                 572.451046                       299.055038
std                  525.665894                       303.766873
min                    0.000000                         0.000000
25%                  253.000000                        79.000000
50%                  483.000000                       226.000000
75%                  709.000000                       424.000000
max                 6199.000000                      3772.000000

       Percent (%) \nEligible Free \n(Ages 5-17)  FRPM Count \n(Ages 5-17)  \
count                               10520.000000              10520.000000
mean                                    0.546660                339.874525
std                                     0.269853                344.591180
min                                     0.000000                  0.000000
25%                                     0.323498                 91.000000
50%                                     0.586812                263.000000
75%                                     0.778213                476.000000
max                                     1.000000               4307.000000

       Percent (%) \nEligible FRPM \n(Ages 5-17)
count                               10520.000000
mean                                    0.612059
std                                     0.284042
min                                     0.000000
25%                                     0.383903
50%                                     0.678769
75%                                     0.860441
max                                     1.000000
                cds        Ccode        CDcode         Scode       enroll12  \
count  2.468000e+03  2468.000000  2.468000e+03  2.468000e+03    2468.000000
mean   2.923213e+13    28.598460  2.923213e+06  1.578485e+06     781.126418
std    1.434850e+13    14.324219  1.434850e+06  1.828305e+06   10320.615240
min    0.000000e+00     0.000000  0.000000e+00  0.000000e+00       0.000000
25%    1.964725e+13    19.000000  1.964725e+06  1.017618e+05      68.000000
50%    3.066621e+13    30.000000  3.066621e+06  1.364565e+05     194.000000
75%    3.868478e+13    38.000000  3.868478e+06  3.137003e+06     477.000000
max    5.872770e+13    58.000000  5.872769e+06  6.120893e+06  489221.000000

          NumTstTakr
count    2468.000000
mean      383.122366
std      5053.199199
min         0.000000
25%        10.000000
50%        82.500000
75%       233.250000
max    236492.000000

### Question 1b: Identifying Issues with the Data

Use the `head` command on your three files again. This time, describe at least one potential problem with the data you see. Consider issues with missing values and bad data.

*Answer Example: There is a potential problem with missing phone numbers and addresses that have not been standardized in the business dataframe.*

We will explore each file in turn, including determining its granularity and primary keys and exploring many of the variables individually. Let's begin with the businesses file, which has been read into the `bus` dataframe.

---
## 2: Examining the Public Schools Data

From its name alone, we expect the `pubschls.csv` file to contain information about the public schools in the state of California. Let's investigate the granularity of this dataset.

### Question 2a

Examining the entries in `sch`, is the `CDSCode` (this 14-digit code is the official, unique identification of a school within California) unique for each record? Your code should compute the answer, i.e. don't just hard code `True` or `False`.

Hint: use `value_counts()` or `unique()` to determine if the `CDSCode` series has any duplicates.

In [147]:
is_school_id_unique = True not in (hs_directory['CDSCode'].value_counts() != 1)
is_school_id_unique

True

### Question 2b

With this information, you can address the question of granularity. Answer the questions below.

1. What does each record represent?  
1. What is the primary key?
1. What would you find by grouping by the following columns: `CDSCode`, `Zip`, `State`?

Please write your answer in the markdown cell below. You may create new cells below your answer to run code, but **please never add cells between a question cell and the answer cell below it.**

*Answer Example*

1. *Each record represents an instance of a restaurant, given that each instance has an address value.*
2. *business_id*
3. *With business_id, we would find the same table as the original business table because it appears that business_id is unique to each restaurant. With name, we would find instances sharing the same name (either because they are part of the same business or just happened to share the restaurant name by chance) appear together under the same group. With address, we would either find restaurants sharing the same address (presumably in a multi-unit building) or restaurants that have been arbitrally categorized in the same classification, such as 'approved locations'.*

---
## 3: Data Cleaning

Next, let's  explore some of the variables in the schools table. We begin by examining the SOC Types (the text description of the type of school).

### Question 3a

Answer the following questions about the `SOC Type` column in the `sch` data frame?  
1. Are SOC Types quantitative or qualitative? If qualitative, is it ordinal or nominal? 
1. What data type is used to represent a SOC Type?

*Answer Example:*

1. *SOC Types are qualitative and nominal.*
2. *String data type.*

### Question 3b

How many restaurants are in each school type? 

In the cell below, create a series where the index is the school and the value is the number of records with that school type in descending order of count. Elementary Schools (Public) should be on the top with 5664 records.

In [165]:
type_counts = sch.groupby('SOCType').size().sort_values(ascending=False)
type_counts.head()

SOCType
Elementary Schools (Public)             5664
High Schools (Public)                   1314
Intermediate/Middle Schools (Public)    1289
Continuation High Schools                438
K-12 Schools (Public)                    368
dtype: int64

Did you take into account that some businesses have missing SOC Types?

In [166]:
print('zip_counts describes', sum(type_counts), 'records.')
print('The original data have', len(sch), 'records')

zip_counts describes 10655 records.
The original data have 11760 records

Missing data is extremely common in real-world data science projects. There are several ways to include missing school types in the `type_counts` series above. One approach is to use the `fillna` method of the series, which will replace all null (a.k.a. NaN) values with a string of our choosing. In the example below, we picked "No Data". When you run the code below, you should see that there are 1105 schools with no school type information.

In [167]:
type_counts = sch.fillna("No Data").groupby("SOCType").size().sort_values(ascending=False)
type_counts.head(15)

SOCType
Elementary Schools (Public)                  5664
High Schools (Public)                        1314
Intermediate/Middle Schools (Public)         1289
No Data                                      1105
Continuation High Schools                     438
K-12 Schools (Public)                         368
Adult Education Centers                       297
Alternative Schools of Choice                 270
Elemen Schools In 1 School Dist. (Public)     229
District Community Day Schools                183
Special Education Schools (Public)            154
Preschool                                     152
County Community                               77
ROC/ROP                                        69
Juvenile Court Schools                         62
dtype: int64

An alternate approach is to use the DataFrame `value_counts` method with the optional argument `dropna=False`, which will ensure that null values are counted. In this case, the index will be `NaN` for the row corresponding to a null postal code.

In [161]:
sch["SOCType"].value_counts(dropna=False).sort_values(ascending = False).head(15)

Elementary Schools (Public)                  5664
High Schools (Public)                        1314
Intermediate/Middle Schools (Public)         1289
NaN                                          1105
Continuation High Schools                     438
K-12 Schools (Public)                         368
Adult Education Centers                       297
Alternative Schools of Choice                 270
Elemen Schools In 1 School Dist. (Public)     229
District Community Day Schools                183
Special Education Schools (Public)            154
Preschool                                     152
County Community                               77
ROC/ROP                                        69
Juvenile Court Schools                         62
Name: SOCType, dtype: int64

### Question 3c : A Closer Look at Missing School Types

Let's look more closely at records with missing SOC Types. Describe the pattern among records have missing school types. Pay attention to their school names and the dates of last update.

*Hint*: The `isnull` method of a series returns a boolean series which is true only for entries in the original series that were missing.

In [168]:
sch.loc[sch['SOCType'].isnull()]

,CDSCode,NCESDist,NCESSchool,StatusType,County,District,School,Street,StreetAbr,City,...,AdmFName1,AdmLName1,AdmEmail1,AdmFName2,AdmLName2,AdmEmail2,AdmFName3,AdmLName3,AdmEmail3,LastUpDate
0,1100170000000,0691051,NaN,Active,Alameda,Alameda County Office of Education,NaN,313 West Winton Avenue,313 West Winton Ave.,Hayward,...,L Karen,Monroe,lkmonroe@acoe.org,NaN,NaN,NaN,NaN,NaN,NaN,05/31/2019
42,1316090000000,0600002,NaN,Active,Alameda,California School for the Blind (State Special...,NaN,500 Walnut Avenue,500 Walnut Ave.,Fremont,...,Gina,Ouellette,gouellette@csb-cde.ca.gov,NaN,NaN,NaN,NaN,NaN,NaN,04/08/2019
44,1316170000000,0600003,NaN,Active,Alameda,California School for the Deaf-Fremont (State ...,NaN,39350 Gallaudet Drive,39350 Gallaudet Dr.,Fremont,...,Clark,Brooke,cbrooke@csdf-cde.ca.gov,NaN,NaN,NaN,NaN,NaN,NaN,07/27/2017
47,1611190000000,0601770,NaN,Active,Alameda,Alameda Unified,NaN,2060 Challenger Dr,2060 Challenger Dr,Alameda,...,Sean,McPhetridge,smcphetridge@alamedaunified.org,NaN,NaN,NaN,NaN,NaN,NaN,09/17/2018
84,1611270000000,0601860,NaN,Active,Alameda,Albany City Unified,NaN,819 Bancroft Way,819 Bancroft Way,Berkeley,...,Valerie,Williams,vwilliams@ausdk12.org,NaN,NaN,NaN,NaN,NaN,NaN,08/29/2018
106,1611430000000,0604740,NaN,Active,Alameda,Berkeley Unified,NaN,2020 Bonar Street,2020 Bonar St.,Berkeley,...,Donald,Evans,donaldevans@berkeley.net,NaN,NaN,NaN,NaN,NaN,NaN,10/23/2018
143,1611500000000,0607800,NaN,Active,Alameda,Castro Valley Unified,NaN,4400 Alma Avenue,4400 Alma Ave.,Castro Valley,...,Parvin,Ahmadi,pahmadi@cv.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,12/27/2018
170,1611680000000,0612630,NaN,Active,Alameda,Emery Unified,NaN,4727 San Pablo Avenue,4727 San Pablo Ave.,Emeryville,...,Quiauna,Scott,quiauna.scott@emeryusd.org,NaN,NaN,NaN,NaN,NaN,NaN,08/15/2018
177,1611760000000,0614400,NaN,Active,Alameda,Fremont Unified,NaN,4210 Technology Drive,4210 Technology Dr.,Fremont,...,Kimberly,Wallace,kwallace@fremont.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,04/08/2019
240,1611920000000,0616740,NaN,Active,Alameda,Hayward Unified,NaN,24411 Amador Street,24411 Amador St.,Hayward,...,Matt,Wayne,mwayne@husd.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,08/06/2018
308,1612000000000,0622110,NaN,Active,Alameda,Livermore Valley Joint Unified,NaN,685 East Jack London Boulevard,685 East Jack London Blvd.,Livermore,...,Kelly,Bowers,kbowers@lvjusd.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,04/30/2019
341,1612180000000,0626130,NaN,Active,Alameda,Mountain House Elementary,NaN,3950 Mountain House Road,3950 Mountain House Rd.,Byron,...,Marianne,Griffith,marijam@wildblue.net,NaN,NaN,NaN,NaN,NaN,NaN,01/25/2017
353,1612340000000,0627060,NaN,Active,Alameda,Newark Unified,NaN,5715 Musick Avenue,5715 Musick Ave.,Newark,...,Partick,Sanchez,psanchez@newarkunified.org,NaN,NaN,NaN,NaN,NaN,NaN,11/01/2018
378,1612420000000,0626910,NaN,Active,Alameda,New Haven Unified,NaN,34200 Alvarado-Niles Road,34200 Alvarado-Niles Rd.,Union City,...,Arlando,Smith,asmith@nhusd.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,12/11/2018
401,1612590000000,0628050,NaN,Active,Alameda,Oakland Unified,NaN,"1000 Broadway, Suite 680","1000 Broadway, Ste. 680",Oakland,...,Kyla,Johnson-Trammell,kyla.johnson@ousd.org,NaN,NaN,NaN,NaN,NaN,NaN,06/21/2019
643,1612750000000,0630330,NaN,Active,Alameda,Piedmont City Unified,NaN,760 Magnolia Avenue,760 Magnolia Ave.,Piedmont,...,Randall,Booker,rbooker@piedmont.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,01/21/2016
660,1612910000000,0634680,NaN,Active,Alameda,San Leandro Unified,NaN,"835 East 14th Street, Suite 200","835 East 14th St., Ste. 200",San Leandro,...,Mike,McLaughlin,mmclaughlin@slusd.us,NaN,NaN,NaN,NaN,NaN,NaN,12/07/2018
679,1613090000000,0634710,NaN,Active,Alameda,San Lorenzo Unified,NaN,15510 Usher Street,15510 Usher St.,San Lorenzo,...,Bruce,Harter,bharter@slzusd.org,NaN,NaN,NaN,NaN,NaN,NaN,03/14/2019
716,1740050000000,0600084,NaN,Active,Alameda,Tri-Valley ROP,NaN,1040 Florence Road,1040 Florence Rd.,Livermore,...,Julie,Duncan,jduncan@tvrop.org,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2016
718,1740130000000,0600085,NaN,Active,Alameda,Eden Area ROP,NaN,26316 Hesperian Boulevard,26316 Hesperian Blvd.,Hayward,...,Linda,Granger,lgranger@edenrop.org,NaN,NaN,NaN,NaN,NaN,NaN,11/03/2015
720,1740210000000,0600086,NaN,Active,Alameda,Mission Valley ROC/P,NaN,5019 Stevenson Boulevard,5019 Stevenson Blvd.,Fremont,...,Thomas,Hanson,thanson@mvrop.org,NaN,NaN,NaN,NaN,NaN,NaN,05/27/2016
726,1750930000000,0600019,NaN,Active,Alameda,Dublin Unified,NaN,7471 Larkdale Avenue,7471 Larkdale Ave.,Dublin,...,Leslie,Boozer,boozerleslie@dublinusd.org,NaN,NaN,NaN,NaN,NaN,NaN,01/15/2019
746,1751010000000,0600020,NaN,Active,Alameda,Pleasanton Unified,NaN,4665 Bernal Avenue,4665 Bernal Ave.,Pleasanton,...,David,Haglund,dhaglund@pleasantonusd.net,NaN,NaN,NaN,NaN,NaN,NaN,08/02/2017
767,1751190000000,0600021,NaN,Active,Alameda,Sunol Glen Unified,NaN,11601 Main Street,11601 Main St.,Sunol,...,Molleen,Barnes,mbarnes@sunol.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,01/18/2017
775,1771800000000,NaN,NaN,Active,Alameda,SBE - Latitude 37.8 High,NaN,1112 29th Avenue,1112 29th Ave.,Oakland,...,Lillian,Hsu,lhsu@efcps.net,NaN,NaN,NaN,NaN,NaN,NaN,09/11/2018
777,2100250000000,0691058,NaN,Active,Alpine,Alpine County Office of Education,NaN,43 Hawkside Drive,43 Hawkside Dr.,Markleeville,...,Patrick,Traynor,ptraynor@alpinecoe.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,08/21/2017
781,2613330000000,0602070,NaN,Active,Alpine,Alpine County Unified,NaN,43 Hawkside Drive,43 Hawkside Dr.,Markleeville,...,Patrick,Traynor,ptraynor@alpinecoe.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,08/21/2017
795,3100330000000,0691001,NaN,Active,Amador,Amador County Office of Education,NaN,217 Rex Avenue,217 Rex Ave.,Jackson,...,Steve,Russell,rrussell@acusd.org,NaN,NaN,NaN,NaN,NaN,NaN,01/15/2019
820,3739810000000,0602450,NaN,Active,Amador,Amador County Unified,NaN,217 Rex Avenue,217 Rex Ave.,Jackson,...,Amy,Slavensky,aslavensky@amadorcoe.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,11/16/2017
836,3748560000000,0600089,NaN,Active,Amador,Amador County ROP,NaN,217 Rex Avenue,217 Rex Ave.,Jackson,...,Elizabeth,Chapin-Pinotti,echapin-pinotti@amadorcoe.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,01/30/2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17568,56724700000000,0624720,NaN,Active,Ventura,Mesa Union Elementary,NaN,3901 North Mesa School Road,3901 North Mesa School Rd.,Somis,...,Jeffery,Turner,jturner@mesaschool.org,NaN,NaN,NaN,NaN,NaN,NaN,08/14/2018
17577,56725040000000,0626460,NaN,Active,Ventura,Mupu Elementary,NaN,4410 North Ojai Road,4410 North Ojai Rd.,Santa Paula,...,Sheryl,Barnd,sheryl.barnd@mupu.org,NaN,NaN,NaN,NaN,NaN,NaN,08/17/2018
17581,56725120000000,0628170,NaN,Active,Ventura,Ocean View,NaN,4200 Olds Road,4200 Olds Rd.,Oxnard,...,Craig,Helmstedter,chelmstedter@oceanviewsd.org,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2018
17587,56725200000000,0628270,NaN,Active,Ventura,Ojai Unified,NaN,414 East Ojai Avenue,414 East Ojai Ave.,Ojai,...,Andrew,Cantwell,acantwell@ojaiusd.org,NaN,NaN,NaN,NaN,NaN,NaN,08/15/2017
17600,56725380000000,0629220,NaN,Active,Ventura,Oxnard,NaN,1051 South A Street,1051 South A St.,Oxnard,...,Cesar,Morales,drcmorales@oxnardsd.org,NaN,NaN,NaN,NaN,NaN,NaN,08/17/2018
17625,56725460000000,0629270,NaN,Active,Ventura,Oxnard Union High,NaN,309 South K Street,309 South K St.,Oxnard,...,Penelope,DeLeon,penelope.deleon@ouhsd.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,03/19/2019
17644,56725530000000,0630990,NaN,Active,Ventura,Pleasant Valley,NaN,600 Temple Avenue,600 Temple Ave.,Camarillo,...,Angelica,Ramsey,aramsey@pleasantvalleysd.org,NaN,NaN,NaN,NaN,NaN,NaN,07/09/2018
17665,56725610000000,0632760,NaN,Active,Ventura,Rio Elementary,NaN,2500 East Vineyard Avenue,2500 East Vineyard Ave.,Oxnard,...,John,Puglisi,jpuglisi@rioschools.org,NaN,NaN,NaN,NaN,NaN,NaN,12/13/2018
17678,56725790000000,0635490,NaN,Active,Ventura,Santa Clara Elementary,NaN,20030 East Telegraph Road,20030 East Telegraph Rd.,Santa Paula,...,Kari,Skidmore,kskidmore@santaclaraesd.org,NaN,NaN,NaN,NaN,NaN,NaN,02/09/2017
17685,56726030000000,0636840,NaN,Active,Ventura,Simi Valley Unified,NaN,101 West Cochran St,101 West Cochran St,Simi Valley,...,Jason,Peplinski,jason.peplinski@simivalleyusd.org,NaN,NaN,NaN,NaN,NaN,NaN,07/18/2018
17724,56726110000000,0637140,NaN,Active,Ventura,Somis Union,NaN,5268 North Street,5268 North St.,Somis,...,Colleen,Robertson,dr.robertson@staff.somisusd.org,NaN,NaN,NaN,NaN,NaN,NaN,01/18/2017
17728,56726520000000,0640980,NaN,Active,Ventura,Ventura Unified,NaN,"255 West Stanley Avenue, Suite 100","255 West Stanley Ave., Ste. 100",Ventura,...,Roger,Rice,roger.rice@venturausd.org,NaN,NaN,NaN,NaN,NaN,NaN,03/15/2019
17769,56737590000000,0609640,NaN,Active,Ventura,Conejo Valley Unified,NaN,1400 East Janss Road,1400 East Janss Rd.,Thousand Oaks,...,Mark,McLaughlin,mmclaughlin@conejousd.org,NaN,NaN,NaN,NaN,NaN,NaN,11/15/2017
17809,56738740000000,0627850,NaN,Active,Ventura,Oak Park Unified,NaN,5801 Conifer Street,5801 Conifer St.,Oak Park,...,Anthony,Knight,tknight@opusd.org,NaN,NaN,NaN,NaN,NaN,NaN,12/06/2018
17819,56739400000000,0625690,NaN,Active,Ventura,Moorpark Unified,NaN,5297 Maureen Lane,5297 Maureen Ln.,Moorpark,...,Kelli,Hays,khays@mrpk.org,NaN,NaN,NaN,NaN,NaN,NaN,10/03/2018
17833,56746170000000,0600148,NaN,Active,Ventura,Ventura County ROP,NaN,5189 Verdugo Way,5189 Verdugo Way,Camarillo,...,Stan,Mantooth,smantooth@vcoe.org,NaN,NaN,NaN,NaN,NaN,NaN,03/22/2017
17835,56768280000000,0601421,NaN,Active,Ventura,Santa Paula Unified,NaN,201 South Steckel Drive,201 South Steckel Dr.,Santa Paula,...,Ed,Cora,ecora@santapaulaunified.org,NaN,NaN,NaN,NaN,NaN,NaN,12/07/2018
17846,57105790000000,0691049,NaN,Active,Yolo,Yolo County Office of Education,NaN,"1280 Santa Anita Court, Suite 100","1280 Santa Anita Ct., Ste. 100",Woodland,...,Garth,Lewis,garth.lewis@ycoe.org,NaN,NaN,NaN,NaN,NaN,NaN,01/03/2019
17865,57726780000000,0610620,NaN,Active,Yolo,Davis Joint Unified,NaN,526 B Street,526 B St.,Davis,...,John,Bowes,superintendent@djusd.net,NaN,NaN,NaN,NaN,NaN,NaN,11/16/2017
17886,57726860000000,0612930,NaN,Active,Yolo,Esparto Unified,NaN,26675 Plainfield Street,26675 Plainfield St.,Esparto,...,Christina,Goennier,cgoennier@espartok12.org,NaN,NaN,NaN,NaN,NaN,NaN,04/02/2019
17892,57726940000000,0641580,NaN,Active,Yolo,Washington Unified,NaN,930 Westacre Road,930 Westacre Rd.,West Sacramento,...,Linda,Luna,lluna@wusd.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,11/15/2018
17922,57727020000000,0642930,NaN,Active,Yolo,Winters Joint Unified,NaN,909 West Grant Avenue,909 West Grant Ave.,Winters,...,Todd,Cutler,tcutler@wintersjusd.org,NaN,NaN,NaN,NaN,NaN,NaN,10/04/2017
17932,57727100000000,0643080,NaN,Active,Yolo,Woodland Joint Unified,NaN,435 Sixth Street,435 Sixth St.,Woodland,...,Thomas,Pritchard,thomas.pritchard@wjusd.org,NaN,NaN,NaN,NaN,NaN,NaN,03/29/2018
17959,57746250000000,0600149,NaN,Active,Yolo,Yolo County ROP,NaN,"1280 Santa Anita Court, Suite 100","1280 Santa Anita Ct., Suite 100",Woodland,...,Jesse,Ortiz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01/31/2016
17963,58105870000000,0691048,NaN,Active,Yuba,Yuba County Office of Education,NaN,935 14th Street,935 14th St.,Marysville,...,Francisco,Reveles,francisco.reveles@yubacoe.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,10/26/2018
17978,58727280000000,0607260,NaN,Active,Yuba,Camptonville Elementary,NaN,16585 School Street,16585 School St.,Camptonville,...,Sandra,Ross,sross@cville.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,03/09/2017
17981,58727360000000,0624090,NaN,Active,Yuba,Marysville Joint Unified,NaN,1919 B Street,1919 B St.,Marysville,...,Gay,Starkey,gstarkey@mjusd.com,NaN,NaN,NaN,NaN,NaN,NaN,08/06/2018
18022,58727440000000,0631180,NaN,Active,Yuba,Plumas Lake Elementary,NaN,2743 Plumas School Road,2743 Plumas School Rd.,Plumas Lake,...,Jeff,Roberts,jroberts@plusd.org,NaN,NaN,NaN,NaN,NaN,NaN,06/23/2015
18028,58727510000000,0642330,NaN,Active,Yuba,Wheatland,NaN,111 Main Street,111 Main St.,Wheatland,...,Craig,Guensler,cguensler@wheatland.k12.ca.us,NaN,NaN,NaN,NaN,NaN,NaN,12/05/2018
18036,58727690000000,0642350,NaN,Active,Yuba,Wheatland Union High,NaN,1010 Wheatland Road,1010 Wheatland Rd.,Wheatland,...,Nicole,Newman,nnewman@wheatlandhigh.org,NaN,NaN,NaN,NaN,NaN,NaN,12/27/2018

Missing school types aren't our only problem. There are also some records where the postal code is wrong, e.g., there are some extended postal codes that are 9 digits long, rather than the typical 5 digits.

Let's clean up the extended zip codes by dropping the digits beyond the first 5. Rather than deleting or replacing the old values in the `Zip` columnm, we'll instead create a new column called `Zip_5`.

The reason we're making a new column is that it's typically good practice to keep the original values when we are manipulating data. This makes it easier to recover from mistakes, and also makes it more clear that we are not working with the original raw data.

In [200]:
sch['Zip_5'] = sch['Zip'].str[:5]

---
## 4: Sampling from the Schools Data
We can now sample from the business data using the cleaned ZIP code data. Make sure to use `postal_code_5` instead of `postal_code` for all parts of this question.

### Question 4a

First, complete the following function `sample`, which takes as arguments a series, `series`, and a sample size, `n`, and returns a simple random sample (SRS) of size `n` from the series. Recall that in SRS, sampling is performed **without** replacement. The result should be a **list** of the `n` values that are in the sample.

*Hint*: Consider using [`np.random.choice`](https://docs.scipy.org/doc/numpy-1.14.1/reference/generated/numpy.random.choice.html).

In [170]:
def sample(series, n):
    # Do not change the following line of code in any way!
    # In case you delete it, it should be "np.random.seed(40)"
    np.random.seed(40)
    
    return series.sample(n).tolist()

### Question 4b
Suppose we take a SRS of 5 schools from the public schools data. What is the probability that the school named *Isador Cohen Elementary* is in the sample?

In [195]:
q4b_answer = ...

### Question 4c
Collect a stratified random sample of school names, where each stratum consists of a postal code. Collect one school name per stratum. Assign `sch_strat_sample` to a series of business names selected by this sampling procedure.

Hint: You can use the `sample` function you defined earlier.

In [194]:
sch_strat_sample = ...

### Question 4d

What is the probability that *Isador Cohen Elementary* is selected as part of this stratified random sampling procedure?

In [193]:
q4d_answer = ...

### Question 4e
Collect a cluster sample of school codes, where each cluster is a postal code, with 5 clusters in the sample. Assign `sch_cluster_sample` to a series of school codes selected by this sampling procedure.

Hint: Consider using [`isin`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.isin.html).

In [ ]:
sch_cluster_sample = ...

### Question 4f
What is the probability that *Isador Cohen Elementary* is selected as part of this cluster sampling procedure?

In [192]:
q4f_answer = ...

### Question 4g
In the context of this question, what are the benefit(s) of performing stratified sampling over cluster sampling? Why would you consider performing cluster sampling instead of stratified sampling? Compare the strengths and weaknesses of both sampling techniques.

*Answer Example: Stratified sampling would offer a more diverse set of locations that better represents the overall business environment of restaurants in San Francisco, while cluster sampling would only give us a sample of certain regions that may or may not represent the overall body. However, stratified sampling would risk under-representing ZIP codes that have more restaurants than others, because only one restaurant is selected from each ZIP code. Cluster sampling, on the other hand, would faithfully represent the size of each selected ZIP code.*

### Question 4h
Collect a multi-stage sample. First, take a SRS of 5 postal codes. Then, collect an SRS of one business name per selected postal code. Assign `bus_multi_sample` to a series of names selected by this procedure.

In [196]:
np.random.seed(40) # Do not touch this!

bus_multi_sample = ...

### Question 4i
What is the probability that *Isador Cohen Elementary* is chosen in the multi-stage sample?

In [197]:
q4i_answer = ...

---
## 5: Website Address

Let's also consider school website address information and get a sense of how many are missing.

### Question 5a

How many schools are missing website addresses?

*Hint*: Use `isnull`.

In [204]:
num_missing_longs = sch['WebSite'].isnull().sum()
num_missing_longs

4361

## As a somewhat contrived exercise in data manipulation, let's try to identify which ZIP codes are missing the most website addresses.

In the cell below, create a series where the index is `Zip_5`, and the value is the number of businesses with missing website addresses in that ZIP code. Your series should be in descending order.

*Hint: Create a custom function to compute the number of null entries in a series, and use this function with the `agg` method.*

In [205]:
def null_web_count(series):
    return series['WebSite'].isnull().sum()

missing_per_zip = sch.set_index('Zip_5').groupby('Zip_5').\
agg(lambda x: null_web_count(x))['WebSite'].sort_values(ascending=False)
missing_per_zip.head()

Zip_5
93257    26
91744    25
91706    22
93611    20
92691    18
Name: WebSite, dtype: int64

### Question 5b

In question 5a, we counted the number of null values per ZIP code. Let's now count the proportion of null values.

Create a new dataframe of counts of the null and proportion of null values, storing the result in `fraction_missing_df`. It should have an index called `postal_code_5` and should also have 3 columns:

1. `count null`: The number of missing values for the zip code.
2. `count non null`: The number of present values for the zip code.
3. `fraction null`: The fraction of values that are null for the zip code.

Your data frame should be sorted by the fraction null in descending order.

Recommended approach: Build three series with the appropriate names and data and then combine them into a dataframe. This will require some new syntax you may not have seen. You already have code from question 4a that computes the `null count` series.

To pursue this recommended approach, you might find these two functions useful:

* `rename`: Renames the values of a series.
* `pd.concat`: Can be used to combine a list of Series into a dataframe. Example: `pd.concat([s1, s2, s3], axis=1)` will combine series 1, 2, and 3 into a dataframe.

*Hint*: You can use the divison operator to compute the ratio of two series.

*Hint*: The - operator can invert a boolean array. Or alternately, the `notnull` method can be used to create a boolean array from a series.

*Note*: An alternate approach is to create three aggregation functions and pass them in a list to the `agg` function.

In [206]:
count_null = missing_per_zip

def not_null_web_count(series):
    return series['WebSite'].notnull().sum()

count_non_null = sch.set_index('Zip_5').groupby('Zip_5').\
agg(lambda x: not_null_web_count(x))['WebSite'].sort_values(ascending=False)
fraction_null = count_null / (count_null + count_non_null)

fraction_missing_df = pd.concat([count_null, count_non_null, fraction_null], axis=1, sort=True)
fraction_missing_df.columns = ['count null', 'count non null', 'fraction null']
fraction_missing_df.index.name = 'Zip_5'
fraction_missing_df = fraction_missing_df.sort_values('fraction null', ascending=False)
fraction_missing_df

       count null  count non null  fraction null
Zip_5
92314           3               0            1.0
91007           6               0            1.0
92285           1               0            1.0
94703           3               0            1.0
92284           5               0            1.0
92276           1               0            1.0
94618           4               0            1.0
95829           5               0            1.0
95480           2               0            1.0
92256           1               0            1.0
91201           3               0            1.0
91202           3               0            1.0
91203           1               0            1.0
91204           3               0            1.0
91205           5               0            1.0
91207           1               0            1.0
91208           2               0            1.0
91214          11               0            1.0
94602           4               0            1.0
92252           2               0            1.0
94597           2               0            1.0
95470           1               0            1.0
93612           5               0            1.0
92230           1               0            1.0
93619           4               0            1.0
94579           5               0            1.0
93650           2               0            1.0
91008           1               0            1.0
93527           1               0            1.0
94923           1               0            1.0
...           ...             ...            ...
93550           0              20            0.0
93552           0              10            0.0
93553           0               2            0.0
93570           0               1            0.0
93602           0               2            0.0
93605           0               2            0.0
93453           0               2            0.0
93451           0               6            0.0
93441           0               2            0.0
93438           0               1            0.0
93251           0               4            0.0
93256           0               3            0.0
93261           0               2            0.0
93265           0               2            0.0
93271           0               2            0.0
93277           0              22            0.0
93283           0               2            0.0
93286           0               8            0.0
93287           0               2            0.0
93291           0              17            0.0
93301           0               9            0.0
93305           0               8            0.0
93422           0              10            0.0
93426           0               2            0.0
93427           0               4            0.0
93432           0               1            0.0
93434           0               4            0.0
93436           0              18            0.0
93437           0               3            0.0
99342           0               1            0.0

[1508 rows x 3 columns]